body{
   background-color:black;
   color:rgb(238, 255, 0);
}
#div1{
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
}
img{
    /* height: 15%;
    width: 15%;
    margin-left: 80%;
    margin-top: 0px; */
    height: 250px;
}
img:hover{
    transform: scale(120%);
}
video{
    height: 40%;
    width: 60%;
    margin-left: 20%;
    
}
h1{
    text-align: center;
    font-size: 50px;
}